// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.counters{
	margin-right:30px;
	font-size:10px;
	text-align: center;

	strong{
		display: block;
		font-size: 2em;
	}

	.vote{
		width: 60px;
		height: 60px;
	}

	.status{
		&.unanswered{
			border:none;
		}

		&.answered{
			border:1px solid $green;
			color: $green;
		}

		&.answer-accepted{
            background-color: $green;
            color: $white;
		}
	}
	.views{
		margin-top: 10px;
	}
}

.form-delete{
	display:inline;
}

.vote-controls{
	min-width: 60px;
	margin-right: 30px;
	text-align: center;
	color: $gray-700;

	span,a{
		display: block;
	}

	span{
		&.votes-count{
			font-size: 25px;
		}

		&.favourites-count{
			font-size: 12px;
		}

	}

	a{
		color: $gray-600;
		cursor: pointer;

		  &.off, .off:hover{
		   	color:$gray-500;
		   }

		   &.favourite{
		   	 &.favourited, &.favourited:hover{
             color: $warning;
		     }
		  }

		  &.vote-accepted{
		  	color: $green;
		  }
  
		}
}